<!DOCTYPE html>
<html lang="ko">

<head>
  <title>게시판</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-9 col-md-9">
      <h2 class="text-center">게시글 보기</h2>
      <p>&nbsp;</p>
      <div class="table table-responsive">
        <table class="table">
          <tr>
            <th class="">글번호</th>
            <td>${result.bid}</td>
            <th class="">조회수</th>
            <td>${result.viewCount}</td>
          </tr>
          <tr>
            <th class="success">작성자</th>
            <td>${uname}</td>
            <th class="success">작성일</th>
            <td>${result.modTime}</td>
          </tr>
          <tr>
            <th class="success" colspan="1">제목</th>
            <td colspan="3">${result.title}</td>
          </tr>
          <tr>
            <th class="success text-center" colspan="4">글 내용</th>
          </tr>
          <tr>
            <td colspan="4">${result.content}</td>
          </tr>
          <tr>
            ${existReply}
            <td>${uid} : ${content}</td>
            <td>${uid} : ${content}</td>
            <td>${uid} : ${content}</td>
          </tr>
            <tr>
            <form action="/bbs/${bid}" method="post">
              <th>댓글</th>
              <td><textarea name="reply" id="reply" cols="30" rows="10"></textarea></td>
            </form>
          </tr>
          <tr>
            <td colspan="4" class="text-center">
              <input type="button" class="btn btn-success" value="답글 쓰기" onclick="location.href='#'">
              <input type="button" class="btn btn-warning" value="수정하기"
                onclick="location.href='/bbs/update/${result.bid}'">
              <input type="button" class="btn btn-danger" value="삭제하기" onclick="location.href='#'">
              <input type="button" class="btn btn-primary" value="목록보기" onclick="location.href='/'">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</body>

</html>